.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 793px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 157px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 581px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 25px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-family: Barlow;
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  margin: 44px 7px 0 -7px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 78px 0 0;
}

.u-section-1 .u-btn-1 {
  animation-duration: 1000ms;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  background-image: none;
  margin: 20px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-image-1 {
  min-height: 581px;
  background-image: url("images/How_bridge_works.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 15px;
  height: auto;
  margin: 20px 852px 20px 273px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 479px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 479px;
    animation-duration: 1000ms;
  }

  .u-section-1 .u-custom-html-1 {
    width: 570px;
    margin: 53px 752px 32px 173px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 367px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 642px;
    margin-left: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1352px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 525px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 315px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-right: 325px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1189px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1129px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-group-1 {
  width: 1110px;
  min-height: 344px;
  margin: 51px -18px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0 20px 0 0;
}

.u-section-2 .u-image-1 {
  height: 783px;
  width: 1110px;
  margin: -101px -30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1088px;
  }

  .u-section-2 .u-group-1 {
    width: 880px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 629px;
    animation-duration: 1000ms;
    width: 910px;
    margin-top: -51px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-group-1 {
    width: 660px;
  }

  .u-section-2 .u-image-1 {
    height: 456px;
    margin-top: 67px;
    width: 660px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 359px;
    margin-top: 20px;
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 875px;
  }

  .u-section-2 .u-group-1 {
    width: 320px;
  }

  .u-section-2 .u-image-1 {
    height: 221px;
    width: 320px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1129px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: -9px 0 0;
}

.u-section-3 .u-group-1 {
  width: 1110px;
  min-height: 137px;
  margin: 60px -30px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-2 {
  margin: 30px 20px 0 0;
}

.u-section-3 .u-image-1 {
  height: 607px;
  width: 912px;
  margin: 84px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 934px;
  }

  .u-section-3 .u-group-1 {
    width: 880px;
    min-height: 190px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    height: 599px;
    margin-top: 12px;
    animation-duration: 1000ms;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-group-1 {
    width: 660px;
  }

  .u-section-3 .u-image-1 {
    height: 449px;
    margin-top: 67px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 354px;
    margin-top: 84px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 976px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-3 .u-group-1 {
    width: 320px;
  }

  .u-section-3 .u-image-1 {
    height: 218px;
    margin-top: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 843px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  background-image: none;
  width: 527px;
  margin: 47px auto 0;
}

.u-section-4 .u-list-1 {
  min-height: 526px;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-template-rows: auto auto;
  width: 570px;
  grid-gap: 20px 20px;
  margin: 60px auto;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 72px;
  width: 72px;
  margin: 26px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 72px;
  width: 72px;
  margin: 26px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 72px;
  width: 72px;
  margin: 26px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 72px;
  width: 72px;
  margin: 26px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-4 .u-list-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 88px;
  }

  .u-section-4 .u-list-1 {
    min-height: 503px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    margin-top: 109px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 902px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1327px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-list-1 {
    min-height: 684px;
    grid-template-columns: 100%;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 898px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 15px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 823px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: -30px 0 0;
}

.u-section-5 .u-image-1 {
  width: 1060px;
  height: 683px;
  margin: 49px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 64px;
    margin-bottom: 30px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 679px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-5 .u-image-1 {
    height: 567px;
    margin-top: 60px;
    margin-bottom: -30px;
    animation-duration: 1000ms;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 507px;
  }

  .u-section-5 .u-image-1 {
    height: 425px;
    margin-top: 64px;
    margin-bottom: -34px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 335px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 275px;
  }

  .u-section-5 .u-image-1 {
    height: 270px;
    width: 330px;
    margin: 33px 0 -67px -10px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 899px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 779px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: -30px 0 0;
}

.u-section-6 .u-image-1 {
  height: 647px;
  margin-top: 50px;
  margin-bottom: 0;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 738px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-image-1 {
    height: 558px;
    margin-top: 60px;
    animation-duration: 1000ms;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 764px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    height: 413px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 325px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 390px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 319px;
    margin-top: 32px;
    margin-left: initial;
  }
}.u-section-7 {
  background-image: none;
  min-height: 899px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1220px;
  margin: 60px auto 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 839px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: -30px 0 0;
}

.u-section-7 .u-image-1 {
  height: 737px;
  width: 1165px;
  margin: 50px -2px -30px;
}

.u-section-7 .u-tabs-1 {
  min-height: 721px;
  margin: -215px -10px 60px auto;
}

.u-section-7 .u-tab-link-1 {
  background-image: none;
}

.u-section-7 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-7 .u-tab-link-2 {
  background-image: none;
}

.u-section-7 .u-tab-item-3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-7 .u-tab-link-3 {
  background-image: none;
}

.u-section-7 .u-tab-pane-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 0 -10px;
}

.u-section-7 .u-text-4 {
  margin: 0 -10px;
}

.u-section-7 .u-text-5 {
  margin: 0 -10px;
}

.u-section-7 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  position: absolute;
  top: 402px;
  width: 0;
}

.u-section-7 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  position: absolute;
  top: 237px;
  left: 93px;
}

.u-section-7 .u-text-6 {
  margin: 0 -10px;
}

.u-section-7 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  position: absolute;
  top: 440px;
  width: 0;
}

.u-section-7 .u-text-7 {
  margin: 0 -10px;
}

.u-section-7 .u-text-8 {
  margin: 0 -10px;
}

.u-section-7 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-7 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-10 {
  margin: 0 -10px;
}

.u-section-7 .u-text-11 {
  margin: 0 -10px;
}

.u-section-7 .u-text-12 {
  margin: 0 -10px;
}

.u-section-7 .u-text-13 {
  margin: 0 -10px;
}

.u-section-7 .u-text-14 {
  margin: 0 -10px;
}

.u-section-7 .u-text-15 {
  margin: 0 -10px;
}

.u-section-7 .u-text-16 {
  margin: 0 -10px;
}

.u-section-7 .u-text-17 {
  margin: 0 -10px;
}

.u-section-7 .u-text-18 {
  margin: 0 -10px;
}

.u-section-7 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-7 .u-text-19 {
  margin: 0 -10px;
}

.u-section-7 .u-text-20 {
  margin: 0 -10px;
}

.u-section-7 .u-text-21 {
  margin: 0 -10px;
}

.u-section-7 .u-text-22 {
  margin: 0 -10px;
}

.u-section-7 .u-text-23 {
  margin: 0 -10px;
}

.u-section-7 .u-text-24 {
  margin: 0 -10px;
}

.u-section-7 .u-text-25 {
  margin: 0 -10px;
}

@media (max-width: 1199px) {
  .u-section-7 {
    min-height: 764px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 673px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-7 .u-image-1 {
    height: 557px;
    animation-duration: 1000ms;
    width: 880px;
    margin: 60px 0 -47px;
  }

  .u-section-7 .u-tabs-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-line-1 {
    width: auto;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-line-3 {
    width: auto;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-10 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-11 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-12 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-13 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-14 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-15 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-16 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-17 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-18 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-19 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-20 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-21 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-22 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-23 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-24 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-25 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 {
    min-height: 670px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-7 .u-image-1 {
    height: 521px;
    width: 717px;
    margin-top: 17px;
    margin-right: 17px;
    margin-bottom: -57px;
  }
}

@media (max-width: 767px) {
  .u-section-7 {
    min-height: 562px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 576px);
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 0;
  }

  .u-section-7 .u-image-1 {
    height: 408px;
    width: 554px;
    margin-top: 12px;
    margin-right: 12px;
    margin-bottom: -30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 {
    min-height: 927px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 390px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 98px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 29px;
  }

  .u-section-7 .u-image-1 {
    height: 236px;
    width: 320px;
    margin-top: 37px;
    margin-right: 0;
    margin-bottom: -73px;
  }

  .u-section-7 .u-tabs-1 {
    min-height: 783px;
    margin-top: -14px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-tab-link-1 {
    padding: 10px 15px;
  }

  .u-section-7 .u-tab-link-2 {
    padding: 10px 15px;
  }

  .u-section-7 .u-tab-link-3 {
    padding: 10px 15px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-right: 43px;
    margin-left: 38px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 10px;
    margin-right: 79px;
    margin-left: 38px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 33px;
    margin-right: 60px;
    margin-left: 40px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 33px;
    margin-right: 68px;
    margin-left: 40px;
  }

  .u-section-7 .u-line-1 {
    width: 0;
    top: 402px;
  }

  .u-section-7 .u-line-2 {
    top: 237px;
    left: 93px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 33px;
    margin-right: 68px;
    margin-left: 38px;
  }

  .u-section-7 .u-line-3 {
    top: 440px;
    width: 0;
  }

  .u-section-7 .u-text-7 {
    margin-top: 36px;
    margin-right: 89px;
    margin-left: 40px;
  }

  .u-section-7 .u-text-8 {
    margin-top: 39px;
    margin-right: 79px;
    margin-left: 40px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-top: 66px;
    margin-right: 70px;
    margin-left: 39px;
  }

  .u-section-7 .u-text-10 {
    margin-top: 10px;
    margin-right: 96px;
    margin-left: 43px;
  }

  .u-section-7 .u-text-11 {
    margin-top: 10px;
    margin-right: 117px;
    margin-left: 43px;
  }

  .u-section-7 .u-text-12 {
    margin-top: 12px;
    margin-right: 95px;
    margin-left: 41px;
  }

  .u-section-7 .u-text-13 {
    margin-top: 8px;
    margin-right: 117px;
    margin-left: 41px;
  }

  .u-section-7 .u-text-14 {
    margin-top: 10px;
    margin-right: 70px;
    margin-left: 43px;
  }

  .u-section-7 .u-text-15 {
    margin-top: 23px;
    margin-right: 71px;
    margin-left: 40px;
  }

  .u-section-7 .u-text-16 {
    margin-top: 10px;
    margin-right: 94px;
    margin-left: 40px;
  }

  .u-section-7 .u-text-17 {
    margin-top: 10px;
    margin-right: 94px;
    margin-left: 43px;
  }

  .u-section-7 .u-text-18 {
    margin-top: 10px;
    margin-right: 96px;
    margin-left: 43px;
  }

  .u-section-7 .u-text-19 {
    margin-top: 1px;
    margin-right: 60px;
    margin-left: 42px;
  }

  .u-section-7 .u-text-20 {
    margin-top: 10px;
    margin-right: 71px;
    margin-left: 42px;
  }

  .u-section-7 .u-text-21 {
    margin-top: 10px;
    margin-right: 71px;
    margin-left: 42px;
  }

  .u-section-7 .u-text-22 {
    margin-top: 10px;
    margin-right: 71px;
    margin-left: 42px;
  }

  .u-section-7 .u-text-23 {
    margin-top: 10px;
    margin-right: 71px;
    margin-left: 42px;
  }

  .u-section-7 .u-text-24 {
    margin-top: 10px;
    margin-right: 88px;
    margin-left: 42px;
  }

  .u-section-7 .u-text-25 {
    margin-top: 10px;
    margin-right: 140px;
    margin-left: 42px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 887px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  width: 448px;
  margin: 13px auto 0;
}

.u-section-8 .u-list-1 {
  min-height: 396px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 8px) calc(25% - 8px) calc(25% - 8px) calc(25% - 8px);
  grid-template-rows: auto;
  margin-top: 96px;
  margin-bottom: 0;
}

.u-section-8 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  height: 213px;
  width: 213px;
  background-image: url("images/tomito.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  height: 213px;
  width: 213px;
  background-image: url("images/suniku.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  height: 213px;
  width: 213px;
  background-image: url("images/4595691.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-image-4 {
  height: 213px;
  width: 213px;
  background-image: url("images/0xChenglei.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-8 .u-image-5 {
  width: 759px;
  height: 198px;
  animation-duration: 1000ms;
  margin: 34px auto 0;
}

.u-section-8 .u-text-10 {
  font-weight: 700;
  margin: 20px 20px 53px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 120px;
  }

  .u-section-8 .u-list-1 {
    min-height: 387px;
    margin-top: 52px;
    height: auto;
  }

  .u-section-8 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-8 .u-text-1 {
    margin-top: 42px;
  }

  .u-section-8 .u-list-1 {
    min-height: 804px;
    grid-template-columns: calc(50% - 5.33333px) calc(50% - 5.33333px);
  }

  .u-section-8 .u-image-5 {
    width: 720px;
    height: 188px;
  }

  .u-section-8 .u-text-10 {
    margin-top: 25px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-5 {
    width: 540px;
    height: 141px;
  }

  .u-section-8 .u-text-10 {
    margin-top: 72px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1841px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-5 {
    width: 340px;
    height: 89px;
  }

  .u-section-8 .u-text-10 {
    margin-top: 124px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 420px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  width: 730px;
  margin: 72px auto 0;
}

.u-section-9 .u-social-icons-1 {
  white-space: nowrap;
  height: 67px;
  min-height: 16px;
  width: 241px;
  min-width: 88px;
  animation-duration: 1000ms;
  margin: 66px auto 60px;
}

.u-section-9 .u-icon-1 {
  height: 100%;
}

.u-section-9 .u-icon-2 {
  height: 100%;
}

.u-section-9 .u-icon-3 {
  height: 100%;
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 255px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
    margin-top: 30px;
  }
}